.banner {
    background: lightcyan;
    border: 1px solid #dddddd;
    border-radius: 6px;
}

.banner .item-title {
    cursor: pointer;
    padding: 12px;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .item-title:after {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #a7a7a7;
    border-right: 2px solid #a7a7a7;
    transform-origin: 75% 75%;
    transform: rotate(-45deg) translateY(-50%);
    transition: transform .1s ease;
    content: '';
}

.banner .item-title.open {
    background: #dddddd;
}

.banner .item-title.open::after {
    transform: rotate(-135deg) translateX(50%);
}

.banner .item-content {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 12px;
    border-bottom: 1px solid #dddddd;
}

.banner .item-title.open + .item-content {
    display: grid;
}