.banner {
    color: inherit;
}

.banner.block img {
    display: block;
    width: 100%;
    height: auto;
}

.banner.block p {
    margin-bottom: 1.5rem;
    font-weight: bolder;
    line-height: 1.2;
}

.banner.test-class {
    color: red;
}
